* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body, html, #root, .App {
  height: 100%;
}
body {
  background-image: url(./Resources/ghg-fe-test.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
input, textarea {
  border: none;
}
textarea:focus, input:focus {
  outline: none;
}
.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 667px) {
  body, html{
    height: auto;
  }
}